<footer>
  <section class="top-line">
    <div style='background: url("img/footer.jpg") 50% 0px repeat scroll transparent;'
      class="parallax scrolly-invisible no-parallax blackish"></div>
    <!-- PARALLAX BACKGROUND IMAGE -->
    <div class="container">
      <div class="row">
        <div class="col-md-4 column">
          <div class="about_widget widget">
            <div class="heading1">
              <h2><span>Contate</span> nos</h2>
            </div>
            <!-- heading -->

            <span><i class="fa fa-envelope"></i>autoinstrucional@gmail.com</span>
            <span><i class="fa fa-phone"></i>0888 (29999996)</span>
            <span><i class="fa fa-location-arrow"></i>1234 Tokyo shibuia , WI
              54115</span>
          </div>
        </div>

        <div class="col-md-4 column">
          <div class="links_widget widget">
            <div class="heading1">
              <h2><span>Mapa do</span> Site</h2>
            </div>
            <!-- heading -->
            <ul>
              <li>
                <a [routerLink]="['/']" title=""><i class="fa fa-angle-right"></i> Home</a>
              </li>
              <li>
                <a [routerLink]="['/vehicul']" title=""><i class="fa fa-angle-right"></i> Veículos</a>
              </li>
              <li>
                <a [routerLink]="['/contact']" title=""><i class="fa fa-angle-right"></i> Contato</a>
              </li>
            </ul>
          </div>
        </div>

        <!-- <div class="col-md-3 column">
          <div class="links_widget widget">
            <div class="heading1">
              <h2><span>Useful</span> Places</h2>
            </div>
            heading
             <ul>
              <li>
                <a href="#" title=""
                  ><i class="fa fa-angle-right"></i> Lorem ipsum
                </a>
              </li>
              <li>
                <a href="#" title=""
                  ><i class="fa fa-angle-right"></i> Closest ipsum
                </a>
              </li>
              <li>
                <a href="#" title=""
                  ><i class="fa fa-angle-right"></i> Lorem dolom
                </a>
              </li>
              <li>
                <a href="#" title=""
                  ><i class="fa fa-angle-right"></i> Positioned ipl</a
                >
              </li>
            </ul>
          </div>
        </div> -->

        <div class="col-md-4 column">
          <div class="subscribe_widget widget">
            <div class="heading1">
              <h2><span>Inscreva</span>-se</h2>
            </div>
            <!-- heading -->
            <p>Venha fazer parte</p>
            <form>
              <label><input type="text" placeholder="Digite seu email" /></label>
              <button type="submit" class="flat-btn">
                <i class="ti ti-email"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="bottom-line">
    <div class="container">
      <span>Copyright All Right Reserved 2019
        <a href="#" title="">Matheus e Gabriel</a></span>
      <ul>
        <li><a title="" [routerLink]="['/']">HOME</a></li>
        <li><a title="" [routerLink]="['/vehicul']">VEÍCULOS</a></li>
        <li><a title="" [routerLink]="['/contact']">CONTATO</a></li>
      </ul>
    </div>
  </div>
  <a href="#" class="scrollToTop" style="display: inline;"><i class="ti ti-arrow-circle-up"></i></a>
</footer>
