<section class="block">
  <div class="parallax scrolly-invisible  blackish" style='background: url("img/call-to-action-big.jpg") fixed 50% 0px;'></div>
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="heading4">
                  <h2>OUR AGENTS</h2>
                  <span>Lorem ipsum dolor</span>
              </div>
              <div class="agents-carousal-sec">
                  <ul class="carousel owl-carousel owl-theme" style="display: block; opacity: 1;">
                      <div class="owl-wrapper-outer"><div class="owl-wrapper" style="transition:all; left: 0px; width: 1920px; display: block; transform: translate3d(0px, 0px, 0px);"><div class="owl-item" style="width: 240px;"><li>
                          <div class="agent-content">
                              <a href="agent.html"><img alt="" src="img/agents/agent1.jpg"></a>
                              <h3>SUPER AGENT</h3>
                              <p>Lorem ipsum dolor sit amet, consectetur <br> sed do eiusmod tempor incidid</p>

                              <div class="agent-social-wrap">
                                  <div class="social-list agent-social">
                                      <a title="Facebook" href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                      <a title="Twitter" href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                      <a title="Google +" href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
                                      <a title="Linkedin" href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                                      <a title="Pinterest" href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                                  </div>
                              </div>
                          </div>
                      </li></div><div class="owl-item" style="width: 240px;"><li>
                          <div class="agent-content">
                              <a href="agent.html"><img alt="" src="img/agents/agent3.jpg"></a>
                              <h3>SUPER AGENT</h3>
                              <p>Lorem ipsum dolor sit amet, consectetur <br> sed do eiusmod tempor incidid</p>

                              <div class="agent-social-wrap">
                                  <div class="social-list agent-social">
                                      <a title="Facebook" href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                      <a title="Twitter" href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                      <a title="Google +" href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
                                      <a title="Linkedin" href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                                      <a title="Pinterest" href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                                  </div>
                              </div>
                          </div>
                      </li></div><div class="owl-item" style="width: 240px;"><li>
                          <div class="agent-content">
                              <a href="agent.html"><img alt="" src="img/agents/agent5.jpg"></a>
                              <h3>SUPER AGENT</h3>
                              <p>Lorem ipsum dolor sit amet, consectetur <br> sed do eiusmod tempor incidid</p>

                              <div class="agent-social-wrap">
                                  <div class="social-list agent-social">
                                      <a title="Facebook" href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                      <a title="Twitter" href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                      <a title="Google +" href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
                                      <a title="Linkedin" href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                                      <a title="Pinterest" href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                                  </div>
                              </div>
                          </div>
                      </li></div><div class="owl-item" style="width: 240px;"><li>
                          <div class="agent-content">
                              <a href="agent.html"><img alt="" src="img/agents/agent4.jpg"></a>
                              <h3>SUPER AGENT</h3>
                              <p>Lorem ipsum dolor sit amet, consectetur <br> sed do eiusmod tempor incidid</p>

                              <div class="agent-social-wrap">
                                  <div class="social-list agent-social">
                                      <a title="Facebook" href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                      <a title="Twitter" href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                      <a title="Google +" href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
                                      <a title="Linkedin" href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                                      <a title="Pinterest" href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                                  </div>
                              </div>
                          </div>
                      </li></div></div></div>



                  <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span></span></div><div class="owl-page"><span></span></div></div></div></ul>
              </div>
          </div>
      </div>
  </div>
</section>
