<section class="block">
  <div class="container agnet-prop">
      <div class="row">
          <aside class="col-md-4 column">
              <div class="agent_bg_widget widget">
                  <div class="agent_widget">
                      <div class="agent_pic">
                          <a title="" href="agent.html">
                              <img alt="" src="img/demo/man1.jpg">
                              <h5>Smith forbes</h5>
                          </a>
                      </div>
                      <div class="agent_social">
                          <a title="" href="#"><i class="fa fa-facebook"></i></a>
                          <a title="" href="#"><i class="fa fa-google-plus"></i></a>
                          <a title="" href="#"><i class="fa fa-twitter"></i></a>
                          <a title="" href="#"><i class="fa fa-tumblr"></i></a>
                      </div>

                      <span>
                          <i class="fa fa-phone"> </i> +1 9090909090
                      </span>
                      <span>
                          <i class="fa fa-envelope"> </i> agent@company.com
                      </span>
                      <ul class="agent-menu">
                          <li>
                              <a href=""><i class="fa fa-user"> </i> My Profile </a>
                          </li>
                          <li>
                              <a href=""><i class="fa fa-home"> </i> My vehiculs </a>
                          </li>
                          <li>
                              <a href=""><i class="fa fa-sign-out"> </i> Log-out </a>
                          </li>
                      </ul>

                  </div>
              </div>

              <div class="package_widget widget">
                  <div class="heading2">
                      <h3>Your Current Package</h3>
                  </div>
                  <div class="package-content">
                      <p><strong>Free Membership</strong></p>
                      <p>Listing included:&nbsp;3</p>
                      <p>Listing remain:&nbsp;1</p>
                      <p>Featured included:&nbsp;1</p>
                      <p>Featured remain:&nbsp;1</p>
                      <p>Ends On:&nbsp;Never</p>
                  </div>
              </div>

              <div class="pass_pro_widget widget">
                  <div class="heading2">
                      <h3>Change Your Plan</h3>
                  </div>
                  <div class="plan-content">
                      <form class="subscription_post">
                          <div class="form-message">
                          </div>
                          <div class="form-group">
                              <div class="dropdown label-select">
                                  <select class="form-control">
                                      <option>Basic Plan</option>
                                      <option>Slave Plan</option>
                                      <option>Gold Plan</option>
                                  </select>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="checkbox-label" for="recurring_payment">
                                  <input name="recurring_payment" id="recurring_payment" type="checkbox" value="1">
                                  Make Payment Recurring
                              </label>
                          </div>
                          <div>
                              <input class="btn btn-success" type="submit" value="PAY WITH PAYPAL">
                          </div>
                          <div class="package-info">
                              or&nbsp;
                              <a href="#">View more detail</a>
                          </div>
                      </form>
                  </div>
              </div>
          </aside>

          <div class="col-md-8 column">
              <div class="heading4">
                  <h2>SUBMIT VEHICUL</h2>
              </div>

              <div class="submit-content">
                  <form name="new_post" class="vehicul-form" id="new_post" role="form" method="post">
                      <div class="control-group">
                          <div class="group-title">Vehicul Description &amp; Price</div>
                          <div class="group-container row">

                              <div class="col-md-8">
                                  <div class="form-group s-prop-title">
                                      <label for="title">Title&nbsp;*</label>
                                      <input name="title" class="form-control" id="title" required="" type="text" value="">
                                  </div>
                              </div>

                              <div class="col-md-4">
                                  <div class="form-group s-prop-area">
                                      <label for="area">Price </label>
                                      <input name="area" class="form-control" id="area" type="text" value="">
                                  </div>
                              </div>

                              <div class="col-md-12">
                                  <div class="form-group s-prop-desc">
                                      <label for="textarea">Description&nbsp;*</label>
                                      <textarea name="desc" id="textarea" style="width: 100%;" required="" rows="10"></textarea>
                                  </div>
                              </div>

                              <div>

                                  <div class="col-md-4">
                                      <div class="form-group s-prop-status">
                                          <label>Manufacturer</label>
                                          <div class="dropdown label-select">
                                              <div class="label-select">
                                                  <select name="s_Manufacturer" class="form-control">
                                                      <option>Any </option>
                                                      <option>Audi</option>
                                                      <option>Mercedes-Benz</option>
                                                      <option>BMW</option>
                                                      <option>Lexus</option>
                                                      <option>Lincoln</option>
                                                      <option>Ford</option>
                                                      <option>Fiat</option>
                                                      <option>Dodge</option>
                                                  </select>
                                              </div>
                                          </div>
                                      </div>
                                  </div>

                                  <div class="col-md-4">
                                      <div class="form-group s-prop-status">
                                          <label>Model</label>
                                          <div class="dropdown label-select">
                                              <div class="label-select">
                                                  <select name="s_model" class="form-control">
                                                      <option>Any Model </option>
                                                      <option value="1">R8</option>
                                                      <option value="2">S500</option>
                                                      <option value="3">540i</option>
                                                      <option value="4">RX300</option>
                                                      <option value="5">Navigator</option>
                                                  </select>
                                              </div>
                                          </div>
                                      </div>
                                  </div>

                                  <div class="col-md-4">
                                      <div class="form-group s-prop-status">
                                          <label>locations</label>
                                          <div class="dropdown label-select">
                                              <div class="label-select">
                                                  <select name="s_locations" class="form-control">
                                                      <option>Any locations</option>
                                                      <option>Central New York</option>
                                                      <option>GreenVille</option>
                                                      <option>Long Island</option>
                                                      <option>New York City</option>
                                                      <option>West Side</option>
                                                  </select>
                                              </div>
                                          </div>
                                      </div>
                                  </div>

                                  <div class="col-md-4">
                                      <div class="form-group s-prop-type">
                                          <label>Status </label>
                                          <div class="dropdown label-select">
                                              <select name="s_statu" class="form-control">
                                                  <option>Any Status </option>
                                                  <option value="damaged">Damaged</option>
                                                  <option value="new">New</option>
                                                  <option value="semi-new">Semi-New</option>
                                                  <option value="used">Used</option>
                                              </select>
                                          </div>
                                      </div>
                                  </div>
                                   <div class="col-md-4">
                                      <div class="form-group s-prop-type">
                                          <label>Fuel </label>
                                          <div class="dropdown label-select">
                                              <select name="s_Fuel" class="form-control">
                                                  <option>Any </option>
                                                  <option value="diesel">Diesel</option>
                                                  <option value="electronic">Electric</option>
                                                  <option value="gas">Gas (LPG, Natural Gas)</option>
                                                  <option value="hydrogen">Hydrogen</option>
                                                  <option value="other">Essence</option>
                                              </select>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-md-4">
                                      <div class="form-group vehicul_field_years">
                                          <label for="car_years">Car Years </label>
                                          <input name="vehicul_field[car_years]" class="form-control" id="car_years" type="text" value="">
                                      </div>
                                  </div>
                                  <div class="col-md-4">
                                      <div class="form-group vehicul_field_Mileage">
                                          <label for="car_years">Car Mileage </label>
                                          <input name="vehicul_field[car_Mileage]" class="form-control" id="car_Mileage" type="text" value="">
                                      </div>
                                  </div>



                              </div>
                          </div>
                      </div>
                      <div class="control-group">
                          <div class="group-title">Vehicul Images</div>
                          <div class="group-container row">
                              <div class="col-md-12">
                                  <div id="upload-container">
                                      <div id="aaiu-upload-container">
                                          <div class="moxie-shim moxie-shim-html5">
                                              <label class="btn flat-btn btn-lg" for="input-upload">Select Images</label>
                                              <input id="input-upload" type="file" accept="image/jpeg,image/gif,image/png" multiple="">
                                          </div>
                                          <p>At least 1 image is required for a valid submission. The featured image will be used to dispaly on vehicul listing page.</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-12">

                              <div class="control-group small-group">
                                  <div class="group-title">Vehicul Video</div>
                                  <div class="group-container row">
                                      <div class="col-md-12">
                                          <div class="form-group s-prop-video">
                                              <label for="_video_embedded">Video Embedded</label>
                                              <input name="video" class="form-control" id="_video_embedded" type="text" value="">
                                              <small>Enter a Youtube, Vimeo, Soundcloud, etc... URL.</small>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>

                      </div>
                      <div class="submit row" style="clear: both; margin-top: 25px;">
                          <div class="col-md-12">
                              <input class="btn btn-lg flat-btn" id="vehicul_submit" type="submit" value="Add vehicul">
                              <label style="margin-top: 15px; margin-left: 10px;">  Your submission will be reviewed by Administrator before it can be published</label>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</section>
