<section class="block">
  <div class="container">
       <h1 class="nocontent outline">--- email+phone ---</h1>
      <div class="row">
          <div class="col-md-12">
              <div class="contact-lists-sec">
                  <ul>
                      <li>
                          <i class="fa fa-phone"></i>+111 (4500032-5)  (33333357-0)
                      </li>
                      <li>
                          <i class="fa fa-at"></i>Company@email.com
                      </li>
                      <li>
                          <i class="fa fa-support"></i>Get Free Support  24/7
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</section>
