<section class="block">
  <div class="parallax scrolly-invisible  blackish" style='background: url("img/call-to-action-bg.jpg") fixed 50% 0px;'></div><!-- PARALLAX BACKGROUND IMAGE -->
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="vehiculs-text-bar">
                  <h3>Sell or Rent  <span> vehiculs </span>Quickly ! </h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ornare porttitor diam<br> a accumsan justo laoreet suscipit. Maecenas at bibendum nunc</p>
                  <a title="" class="flat-btn" href="#">Joing us</a>
              </div>
          </div>
      </div>
  </div>
</section>
