<section class="block remove-top">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="blog-sec">
                  <div class="row">
                      <div class="col-md-6">
                          <div class="vehicul-post">
                              <div class="vehicul-thumb">
                                  <img alt="" src="img/demo/vehicul1.jpg">
                                  <div class="vehicul-post-detail">

                                      <h2><a title="" href="#">Mercedes-Benz</a></h2>
                                      <h2 class="price"> 300000 $  </h2>
                                      <span><i class="fa fa-calendar-o"></i> 10 December 2016</span>
                                      <p>A wonderful serenity has taken possession.</p>

                                      <a title="" class="vehicul-more" href="#">Details </a>
                                  </div>
                              </div>
                              <div class="vehicul-agent">
                                  <a title="" href="agent3.html">
                                      <img alt="" src="img/3.png">
                                      <h3>KwitaraCars y</h3>
                                      <span>Posted by <i>Agent Flwo</i></span>
                                  </a>
                              </div>
                          </div><!-- Blog Post -->
                      </div>

                      <div class="col-md-6">
                          <div class="vehicul-post">
                              <div class="vehicul-thumb">
                                  <img alt="" src="img/demo/vehicul3.jpg">
                                  <div class="vehicul-post-detail">

                                      <h2><a title="" href="#">Mercedes-Benz</a></h2>
                                      <h2 class="price"> 300000 $  </h2>
                                      <span><i class="fa fa-calendar-o"></i> 10 December 2016</span>
                                      <p>A wonderful serenity has taken possession.</p>

                                      <a title="" class="vehicul-more" href="#">Details </a>
                                  </div>
                              </div>
                              <div class="vehicul-agent">
                                  <a title="" href="agent3.html">
                                      <img alt="" src="img/3.png">
                                      <h3>KwitaraCars y</h3>
                                      <span>Posted by <i>Agent Flwo</i></span>
                                  </a>
                              </div>
                          </div><!-- Blog Post -->
                      </div>

                      <div class="col-md-6">
                          <div class="vehicul-post">
                              <div class="vehicul-thumb">
                                  <img alt="" src="img/demo/vehicul4.jpg">
                                  <div class="vehicul-post-detail">

                                      <h2><a title="" href="#">Mercedes-Benz</a></h2>
                                      <h2 class="price"> 300000 $  </h2>
                                      <span><i class="fa fa-calendar-o"></i> 10 December 2016</span>
                                      <p>A wonderful serenity has taken possession.</p>

                                      <a title="" class="vehicul-more" href="#">Details </a>
                                  </div>
                              </div>
                              <div class="vehicul-agent">
                                  <a title="" href="agent3.html">
                                      <img alt="" src="img/4.png">
                                      <h3>KwitaraCars y</h3>
                                      <span>Posted by <i>Agent Flwo</i></span>
                                  </a>
                              </div>
                          </div><!-- Blog Post -->
                      </div>

                      <div class="col-md-6">
                          <div class="vehicul-post">
                              <div class="vehicul-thumb">
                                  <img alt="" src="img/demo/vehicul5.jpg">
                                  <div class="vehicul-post-detail">

                                      <h2><a title="" href="#">Mercedes-Benz</a></h2>
                                      <h2 class="price"> 300000 $  </h2>
                                      <span><i class="fa fa-calendar-o"></i> 10 December 2016</span>
                                      <p>A wonderful serenity has taken possession.</p>

                                      <a title="" class="vehicul-more" href="#">Details </a>
                                  </div>
                              </div>
                              <div class="vehicul-agent">
                                  <a title="" href="agent3.html">
                                      <img alt="" src="img/1.png">
                                      <h3>KwitaraCars y</h3>
                                      <span>Posted by <i>Agent Flwo</i></span>
                                  </a>
                              </div>
                          </div><!-- Blog Post -->
                      </div>

                      <div class="col-md-6">
                          <div class="vehicul-post">
                              <div class="vehicul-thumb">
                                  <img alt="" src="img/demo/vehicul2.jpg">
                                  <div class="vehicul-post-detail">

                                      <h2><a title="" href="#">Mercedes-Benz</a></h2>
                                      <h2 class="price"> 300000 $  </h2>
                                      <span><i class="fa fa-calendar-o"></i> 10 December 2016</span>
                                      <p>A wonderful serenity has taken possession.</p>

                                      <a title="" class="vehicul-more" href="#">Details </a>
                                  </div>
                              </div>
                              <div class="vehicul-agent">
                                  <a title="" href="agent3.html">
                                      <img alt="" src="img/2.png">
                                      <h3>KwitaraCars y</h3>
                                      <span>Posted by <i>Agent Flwo</i></span>
                                  </a>
                              </div>
                          </div><!-- Blog Post -->
                      </div>

                      <div class="col-md-6">
                          <div class="vehicul-post">
                              <div class="vehicul-thumb">
                                  <img alt="" src="img/demo/vehicul3.jpg">
                                  <div class="vehicul-post-detail">

                                      <h2><a title="" href="#">Mercedes-Benz</a></h2>
                                      <h2 class="price"> 300000 $  </h2>
                                      <span><i class="fa fa-calendar-o"></i> 10 December 2016</span>
                                      <p>A wonderful serenity has taken possession.</p>

                                      <a title="" class="vehicul-more" href="#">Details </a>
                                  </div>
                              </div>
                              <div class="vehicul-agent">
                                  <a title="" href="agent3.html">
                                      <img alt="" src="img/4.png">
                                      <h3>KwitaraCars y</h3>
                                      <span>Posted by <i>Agent Flwo</i></span>
                                  </a>
                              </div>
                          </div><!-- Blog Post -->
                      </div>
                  </div>
                  <ul class="pagination">
                      <li class="disabled"><a title="" href="#"><span>NEXT</span></a></li>
                      <li><a title="" href="#">1</a></li>
                      <li class="active"><a title="" href="#">2</a></li>
                      <li><a title="" href="#">3</a></li>
                      <li><a title="" href="#"><span>PREV</span></a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</section>
