<section class="block">
  <div class="container">
      <div class="heading4">
          <h2>FEATURED VEHICULS</h2>
          <span>Lorem ipsum dolor consectetu</span>
      </div>
      <div class="row">
          <div class="col-md-12">
              <div class="vehiculs-sec">
                  <div class="row">
                      <div class="col-md-4">
                          <div class="vehiculs-box">
                              <div class="vehiculs-thumb">
                                  <img alt="" src="img/demo/vehicul4.jpg">
                                  <span class="spn-status"> Semi-New </span>
                                  <span class="spn-save"> <i class="ti ti-heart"></i> </span>

                                  <div class="user-preview">
                                      <a class="col" href="agent.html">
                                          <img title="Camilė" class="avatar avatar-small" alt="Camilė" src="img/4.png">
                                      </a>
                                  </div>
                                  <a class="proeprty-sh-more" href="vehicul.html"><i class="fa fa-angle-double-right"> </i><i class="fa fa-angle-double-right"> </i></a>
                                  <p class="car-info-smal">
                                      Registration 2010<br>
                                      3.0 Diesel<br>
                                      230 HP<br>
                                      Body Coupe<br>
                                      80 000 Miles
                                  </p>
                              </div>
                              <h3><a title="" href="vehicul.html">Mercedes-Benz</a></h3>
                              <span class="price">$444000</span>
                              <span class="rate-it">
                                  <i title="nice" class="ti ti-star star-on-png"></i>&nbsp;
                                  <i title="nice" class="ti ti-star  star-on-png"></i>&nbsp;
                                  <i title="nice" class="ti ti-star star-on-png"></i>&nbsp;
                                  <i title="nice" class="ti ti-star off star-off-png"></i>&nbsp;
                                  <i title="nice" class="ti ti-star off star-off-png"></i>
                              </span>
                          </div><!-- prop Box -->
                      </div>
                      <div class="col-md-4">
                          <div class="vehiculs-box">
                              <div class="vehiculs-thumb">
                                  <img alt="" src="img/demo/vehicul3.jpg">
                                  <span class="spn-status"> Damaged </span>
                                  <span class="spn-save"> <i class="ti ti-heart"></i> </span>

                                  <div class="user-preview">
                                      <a class="col" href="agent.html">
                                          <img title="Camilė" class="avatar avatar-small" alt="Camilė" src="img/1.png">
                                      </a>
                                  </div>
                                  <a class="proeprty-sh-more" href="vehicul.html"><i class="fa fa-angle-double-right"> </i><i class="fa fa-angle-double-right"> </i></a>
                                  <p class="car-info-smal">
                                      Registration 2010<br>
                                      3.0 Diesel<br>
                                      230 HP<br>
                                      Body Coupe<br>
                                      80 000 Miles
                                  </p>
                              </div>
                              <h3><a title="Mercedes-Benz" href="vehicul.html">Mercedes-Benz</a></h3>
                              <span class="price">$789000</span>
                              <span class="rate-it">
                                  <i title="nice" class="ti ti-star star-on-png"></i>&nbsp;
                                  <i title="nice" class="ti ti-star  star-on-png"></i>&nbsp;
                                  <i title="nice" class="ti ti-star star-on-png"></i>&nbsp;
                                  <i title="nice" class="ti ti-star off star-off-png"></i>&nbsp;
                                  <i title="nice" class="ti ti-star off star-off-png"></i>
                              </span>
                          </div><!-- prop Box -->
                      </div>
                      <div class="col-md-4">
                          <div class="vehiculs-box">
                              <div class="vehiculs-thumb">
                                  <img alt="" src="img/demo/vehicul2.jpg">
                                  <span class="spn-status"> Semi-New </span>
                                  <span class="spn-save"> <i class="ti ti-heart"></i> </span>

                                  <div class="user-preview">
                                      <a class="col" href="agent.html">
                                          <img title="Camilė" class="avatar avatar-small" alt="Camilė" src="img/2.png">
                                      </a>
                                  </div>
                                  <a class="proeprty-sh-more" href="vehicul.html"><i class="fa fa-angle-double-right"> </i><i class="fa fa-angle-double-right"> </i></a>
                                  <p class="car-info-smal">
                                      Registration 2010<br>
                                      3.0 Diesel<br>
                                      230 HP<br>
                                      Body Coupe<br>
                                      80 000 Miles
                                  </p>
                              </div>
                              <h3><a title="Mercedes-Benz" href="vehicul.html">Mercedes-Benz</a></h3>
                              <span class="price">$380000</span>
                              <span class="rate-it">
                                  <i title="nice" class="ti ti-star star-on-png"></i>&nbsp;
                                  <i title="nice" class="ti ti-star  star-on-png"></i>&nbsp;
                                  <i title="nice" class="ti ti-star star-on-png"></i>&nbsp;
                                  <i title="nice" class="ti ti-star off star-off-png"></i>&nbsp;
                                  <i title="nice" class="ti ti-star off star-off-png"></i>
                              </span>
                          </div><!-- prop Box -->
                      </div>
                      <div class="col-md-4">
                          <div class="vehiculs-box">
                              <div class="vehiculs-thumb">
                                  <img alt="" src="img/demo/vehicul4.jpg">
                                  <span class="spn-status"> Damaged </span>
                                  <span class="spn-save"> <i class="ti ti-heart"></i> </span>

                                  <div class="user-preview">
                                      <a class="col" href="agent.html">
                                          <img title="Camilė" class="avatar avatar-small" alt="Camilė" src="img/4.png">
                                      </a>
                                  </div>
                                  <a class="proeprty-sh-more" href="vehicul.html"><i class="fa fa-angle-double-right"> </i><i class="fa fa-angle-double-right"> </i></a>
                                  <p class="car-info-smal">
                                      Registration 2010<br>
                                      3.0 Diesel<br>
                                      230 HP<br>
                                      Body Coupe<br>
                                      80 000 Miles
                                  </p>
                              </div>
                              <h3><a title="Mercedes-Benz" href="vehicul.html">Mercedes-Benz</a></h3>
                              <span class="price">$1000000</span>
                              <span class="rate-it">
                                  <i title="nice" class="ti ti-star star-on-png"></i>&nbsp;
                                  <i title="nice" class="ti ti-star  star-on-png"></i>&nbsp;
                                  <i title="nice" class="ti ti-star star-on-png"></i>&nbsp;
                                  <i title="nice" class="ti ti-star off star-off-png"></i>&nbsp;
                                  <i title="nice" class="ti ti-star off star-off-png"></i>
                              </span>
                          </div><!-- prop Box -->
                      </div>
                      <div class="col-md-4">
                          <div class="vehiculs-box">
                              <div class="vehiculs-thumb">
                                  <img alt="" src="img/demo/vehicul5.jpg">
                                  <span class="spn-status"> Used </span>
                                  <span class="spn-save"> <i class="ti ti-heart"></i> </span>

                                  <div class="user-preview">
                                      <a class="col" href="agent.html">
                                          <img title="Camilė" class="avatar avatar-small" alt="Camilė" src="img/3.png">
                                      </a>
                                  </div>
                                  <a class="proeprty-sh-more" href="vehicul.html"><i class="fa fa-angle-double-right"> </i><i class="fa fa-angle-double-right"> </i></a>
                                  <p class="car-info-smal">
                                      Registration 2010<br>
                                      3.0 Diesel<br>
                                      230 HP<br>
                                      Body Coupe<br>
                                      80 000 Miles
                                  </p>
                              </div>
                              <h3><a title="Mercedes-Benz" href="vehicul.html">Mercedes-Benz</a></h3>
                              <span class="price">$500000</span>
                              <span class="rate-it">
                                  <i title="nice" class="ti ti-star star-on-png"></i>&nbsp;
                                  <i title="nice" class="ti ti-star  star-on-png"></i>&nbsp;
                                  <i title="nice" class="ti ti-star star-on-png"></i>&nbsp;
                                  <i title="nice" class="ti ti-star off star-off-png"></i>&nbsp;
                                  <i title="nice" class="ti ti-star off star-off-png"></i>
                              </span>
                          </div><!-- prop Box -->
                      </div>
                      <div class="col-md-4">
                          <div class="vehiculs-box">
                              <div class="vehiculs-thumb">
                                  <img alt="" src="img/demo/vehicul3.jpg">
                                  <span class="spn-status"> Damaged</span>
                                  <span class="spn-save"> <i class="ti ti-heart"></i> </span>

                                  <div class="user-preview">
                                      <a class="col" href="agent.html">
                                          <img title="Camilė" class="avatar avatar-small" alt="Camilė" src="img/2.png">
                                      </a>
                                  </div>
                                  <a class="proeprty-sh-more" href="vehicul.html"><i class="fa fa-angle-double-right"> </i><i class="fa fa-angle-double-right"> </i></a>
                                  <p class="car-info-smal">
                                      Registration 2010<br>
                                      3.0 Diesel<br>
                                      230 HP<br>
                                      Body Coupe<br>
                                      80 000 Miles
                                  </p>
                              </div>
                              <h3><a title="Mercedes-Benz" href="vehicul.html">Mercedes-Benz</a></h3>
                              <span class="price">$340000</span>
                              <span class="rate-it">
                                  <i title="nice" class="ti ti-star star-on-png"></i>&nbsp;
                                  <i title="nice" class="ti ti-star  star-on-png"></i>&nbsp;
                                  <i title="nice" class="ti ti-star star-on-png"></i>&nbsp;
                                  <i title="nice" class="ti ti-star off star-off-png"></i>&nbsp;
                                  <i title="nice" class="ti ti-star off star-off-png"></i>
                              </span>
                          </div><!-- prop Box -->
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
