<div class="inner-head overlap">
  <div class="parallax scrolly-invisible no-parallax" style="background: url(img/parallax1.jpg) repeat scroll 50% 422.28px transparent;"></div><!-- PARALLAX BACKGROUND IMAGE -->
  <div class="container">
      <div class="inner-content">
          <span><i class="fa fa-bolt"></i></span>
          <h2>CONTACT US</h2>
          <ul>
              <li><a title="" href="#">HOME</a></li>
              <li><a title="" href="#">CONTACT US</a></li>
          </ul>
      </div>
  </div>
</div>
