<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
  crossorigin="anonymous"
/>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <button
          type="button"
          class="btn btn-primary"
          [routerLink]="['/dashboard/create']"
          data-toggle="modal"
          data-target="#modal-default"
        >
          Criar
        </button>
      </li>
    </ul>
  </div>
</nav>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Imagem</th>
      <th scope="col">Preço</th>
      <th scope="col">Ação</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vehicul of vehiculs">
      <th>{{ vehicul.name }}</th>
      <td><img [src]="vehicul.image" style="width: 80px;" /></td>
      <td>{{ vehicul.price }}</td>
      <td>
        <button
          type="button"
          class="btn badge badge-success"
          (click)="updateVehiculs(vehicul.id)"
          style="margin-right: 12px; font-size: 12px;"
        >
          Editar
        </button>
        <button
          type="button"
          class="btn badge badge-danger"
          (click)="deleteVehiculs(vehicul.id)"
          style="font-size: 12px;"
        >
          Deletar
        </button>
      </td>
    </tr>
  </tbody>
</table>
