<section class="block">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="agents-carousal-sec">
                  <div class="heading4">
                      <h2>OUR PARTNERS </h2>
                      <span>Lorem ipsum dolor</span>
                  </div>
                  <div class="our-clients-sec">
                      <ul class="carousel-client owl-carousel owl-theme" style="display: block; opacity: 1;">
                          <div class="owl-wrapper-outer"><div class="owl-wrapper" style="left: 0px; width: 2716px; display: block;"><div class="owl-item" style="width: 194px;"><li>
                              <a title="" href="#"><img alt="" src="img/clients/our-client1.jpg"></a>
                          </li></div><div class="owl-item" style="width: 194px;"><li>
                              <a title="" href="#"><img alt="" src="img/clients/our-client2.jpg"></a>
                          </li></div><div class="owl-item" style="width: 194px;"><li>
                              <a title="" href="#"><img alt="" src="img/clients/our-client3.jpg"></a>
                          </li></div><div class="owl-item" style="width: 194px;"><li>
                              <a title="" href="#"><img alt="" src="img/clients/our-client4.jpg"></a>
                          </li></div><div class="owl-item" style="width: 194px;"><li>
                              <a title="" href="#"><img alt="" src="img/clients/our-client5.jpg"></a>
                          </li></div><div class="owl-item" style="width: 194px;"><li>
                              <a title="" href="#"><img alt="" src="img/clients/our-client1.jpg"></a>
                          </li></div><div class="owl-item" style="width: 194px;"><li>
                              <a title="" href="#"><img alt="" src="img/clients/our-client3.jpg"></a>
                          </li></div></div></div>






                      <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span></span></div><div class="owl-page"><span></span></div></div></div></ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
