<section class="block">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-8 column">
            <div class="single-post-sec">
              <div class="blog-post vehicul-post">
                <div class="vehicul-gallery">
                  <div class="light-slide-item">
                    <div class="favorite-and-print">
                      <div class="lSSlideOuter "></div>
                    </div>
                  </div>
                </div>

                <div class="vehicul-video">
                  <div class="heading3">
                    <h2>Video</h2>
                  </div>
                  <iframe
                    height="400"
                    src="https://www.youtube.com/embed/rlasf0cUfzU"
                    allowfullscreen=""
                  ></iframe>
                </div>
              </div>
              <!-- Blog Post -->
            </div>
            <!-- Blog POst Sec -->
          </div>
          <aside class="col-md-4 column">
            <div class="agent_bg_widget widget">
              <div class="agent_widget">
                <div class="agent_pic">
                  <a title="" href="agent.html">
                    <img alt="" src="img/demo/man1.jpg" />
                    <h3 class="nocontent outline">
                      --- document outline needed 3 ---
                    </h3>
                    <h4>Auto Instrucional</h4>
                  </a>
                </div>
                <div class="agent_social">
                  <a title="" href="#"><i class="fa fa-facebook"></i></a>
                  <a title="" href="#"><i class="fa fa-google-plus"></i></a>
                  <a title="" href="#"><i class="fa fa-twitter"></i></a>
                  <a title="" href="#"><i class="fa fa-tumblr"></i></a>
                </div>
                <span> <i class="fa fa-phone"> </i> +1 9090909090 </span>
                <span>
                  <i class="fa fa-envelope"> </i> autoinstrucional@email.com
                </span>
                <a title="" class="btn contact-agent" href="agent.html"
                  >Encontre mais</a
                >
              </div>
            </div>
            <!-- Follow Widget -->

            <div class="search_widget widget">
              <div class="heading2">
                <h3>Procurar Veículos</h3>
              </div>
              <div class="search-form">
                <form class="form-inline" action="vehiculs.html" method="get">
                  <div class="search-form-content">
                    <div class="search-form-field">
                      <div class="form-group col-md-12">
                        <div class="label-select">
                          <select name="s_location" class="form-control">
                            <option>Qualquer um</option>
                            <option>Audi</option>
                            <option>Mercedes-Benz</option>
                            <option>BMW</option>
                            <option>Lexus</option>
                            <option>Lincoln</option>
                            <option>Ford</option>
                            <option>Fiat</option>
                            <option>Dodge</option>
                          </select>
                        </div>
                      </div>

                      <div class="form-group col-md-12">
                        <div class="label-select">
                          <select name="anymodule" class="form-control">
                            <option>Qualquer modelo </option>
                            <option value="1">R8</option>
                            <option value="2">S500</option>
                            <option value="3">540i</option>
                            <option value="4">RX300</option>
                            <option value="5">Navigator</option>
                            <option value="6">Taurus</option>
                            <option value="7">Doblo</option>
                            <option value="8">Viper</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="search-form-submit">
                    <button class="btn-search" type="submit">Procurar</button>
                  </div>
                </form>
              </div>
              <!-- Services Sec -->
            </div>
            <!-- Category Widget -->
          </aside>
        </div>
      </div>
    </div>
  </div>
</section>
