<section class="horizontal-search">
  <div class="container">
      <h1 class="nocontent outline">--- Search form  ---</h1>
      <div>
          <div class="search-form">
              <form class="form-inline" action="vehiculs.html" method="get">
                  <div class="search-form-content">
                      <div class="search-form-field">
                          <div class="form-group col-xs-12 col-sm-3 col-md-3">
                              <div class="label-select">
                                  <select name="s_location" class="form-control">
                                      <option>Any Manufacturer</option>
                                      <option>Audi</option>
                                      <option>Mercedes-Benz</option>
                                      <option>BMW</option>
                                      <option>Lexus</option>
                                      <option>Lincoln</option>
                                      <option>Ford</option>
                                      <option>Fiat</option>
                                      <option>Dodge</option>
                                  </select>
                              </div>
                          </div>

                          <div class="form-group col-xs-12 col-sm-3 col-md-3">
                              <div class="label-select">
                                  <select name="anymodule" class="form-control">
                                      <option>Any Model </option>
                                      <option value="1">R8</option>
                                      <option value="2">S500</option>
                                      <option value="3">540i</option>
                                      <option value="4">RX300</option>
                                      <option value="5">Navigator</option>
                                      <option value="6">Taurus</option>
                                      <option value="7">Doblo</option>
                                      <option value="8">Viper</option>
                                  </select>
                              </div>
                          </div>

                          <div class="form-group col-xs-12 col-sm-3 col-md-3">
                              <div class="label-select">
                                  <select name="s_location" class="form-control">
                                      <option>Any locations</option>
                                      <option>Central New York</option>
                                      <option>GreenVille</option>
                                      <option>Long Island</option>
                                      <option>New York City</option>
                                      <option>West Side</option>
                                  </select>
                              </div>
                          </div>

                          <div class="form-group col-xs-12 col-sm-3 col-md-3">
                              <div class="label-select">
                                  <select name="s_statu" class="form-control">
                                      <option>Any Status </option>
                                      <option value="damaged">Damaged</option>
                                      <option value="new">New</option>
                                      <option value="semi-new">Semi-New</option>
                                      <option value="used">Used</option>
                                  </select>
                              </div>
                          </div>

                          <div class="form-group col-xs-12 col-sm-3 col-md-3">
                          </div>
                          <div class="form-group col-xs-12 col-sm-3 col-md-3">
                              <span class="gprice-label">Price Range</span>
                              <div class="sliderrange slider slider-horizontal" style="width: 187px;"><div class="slider-track"><div class="slider-selection" style="left: 0%; width: 100%;"></div><div class="slider-handle round left-round" style="left: 0%;"></div><div class="slider-handle round" style="left: 100%;"></div></div><div class="tooltip top" style="left: 93px; top: -30px;"><div class="tooltip-arrow"></div><div class="tooltip-inner">0 : 60000</div></div><input class="span2" id="price-range" type="text" value="" data-slider-value="[0,60000]" data-slider-step="5" data-slider-max="60000" data-slider-min="0"></div>
                          </div>
                          <div class="form-group col-xs-12 col-sm-3 col-md-3">
                              <span class="garea-label">Mileage Range</span>
                              <div class="sliderrange slider slider-horizontal" style="width: 187px;"><div class="slider-track"><div class="slider-selection" style="left: 0.08%; width: 99.91%;"></div><div class="slider-handle round left-round" style="left: 0.08%;"></div><div class="slider-handle round" style="left: 100%;"></div></div><div class="tooltip top" style="left: 83.6px; top: -30px;"><div class="tooltip-arrow"></div><div class="tooltip-inner">50 : 60000</div></div><input class="span2" id="vehicul-geo" type="text" value="" data-slider-value="[50,60000]" data-slider-step="5" data-slider-max="60000" data-slider-min="0"></div>
                          </div>
                      </div>
                  </div>
                  <div class="search-form-submit">
                      <button class="btn-search" type="submit">Search</button>
                  </div>
              </form>
          </div><!-- Services Sec -->

      </div>
  </div>
</section>
